body {
	font-family: arial, sans-serif;
	background: #222;
   	padding: 0px;
	margin: 0px;
}



.text-light {
	font-family: "Montserrat", sans-serif !important;
    color: #f8f9fa !important;
	text-shadow: 7px 10px 10px black;
	/* animation: text 3s ease infinite; */
}

@keyframes text {
	0% {
		text-shadow: 14px 20px 20px black;
	}
	50% {
		text-shadow: 7px 10px 10px black;
	}
	100% {
		text-shadow: 14px 20px 20px black;
	}
}

.h1, h1 {
    font-size: 2.5rem;
}

.center{
	text-align: center;
	vertical-align: auto;
}

.box {
  width: 100%;
  height: 100%;
  background: #222;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  margin: 0 auto;
}

/* .box::after{
	content: '';
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #222;
	z-index: -99;
	transform: translate3d(0, 0, 0);
} */

.wave {
	/* opacity: .4; */
	position: absolute;
	top: 3%;
	left: 50%;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s alternate infinite;
	width: 3500px;
	height: 3500px;
	margin-left: -1500px;
	margin-top: -3000px;
	transform-origin: 50% 48%;
	border-radius: 33%;
	/* animation: wave 10s infinite alternate; */
	z-index: -1
}

@-webkit-keyframes wave {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

@keyframes wave {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

@keyframes gradient {
	0% {
		background-position: 0% 25%;
		transform: rotate(0deg);
	}
	25% {
		background-position: 25% 50%;
		transform: rotate(120deg);
	}
	50% {
		background-position: 50% 0%;
		transform: rotate(60deg);
	}
	75% {
		background-position: 75% 100%;
		transform: rotate(270deg);
	}
	100% {
		background-position: 100% 0%;
		transform: rotate(360deg);
	}
}